/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  padding-top: 2rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 5rem;
  margin-bottom: 60px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}